.formulario {
  margin-top: 5%;
}


body {
  background: url('https://source.unsplash.com/twukN12EN7c/1920x1080') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.transparencia {
     background-color: rgba(255, 255, 255, 0.603);

  }

  * {
    margin: 0;
  }

  .body-content {
    min-height: 100%;
    /* igual a altura do rodapé */
    margin-bottom: -20px; 
  }
  .body-content:after {
    content: "";
    display: block;
  }
  .site-footer, .page-wrap:after {
    height: 20px; 
  }
